<launch>
	<node pkg="imu_odom" type="imu_odom_node" name="imu_odom_node" output="screen">
		<remap from="imu_topic" to="/vectornav/IMU"/>
		<param name="odom_frame" value="odom"/>
		<param name="robot_frame" value="base_link"/>
		<param name="imu_frame" value="imu_link"/>
		<param name="real_time" value="true"/>
	</node>
</launch>

